/target
Cargo.lock
*.so
*.dylib
.DS_Store
/.pgrx
*.swp

# reference symlinks (local-only, not part of the repo)
/ref-*

/compose/extensions/pgrdf/
/compose/extensions/pgck/
/compose/pg-data/
/compose/dev-certs/
/fixtures/WIP/
